.card-container {
    max-width: 80rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.editable-card-container {
    max-width: 18rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.alert {
    position: absolute!important;
    left: 20%;
    width: 60%;
}